@charset "UTF-8";
@import url(style_Reset.css);

div#wrap {
  width: 640px;
  padding: 10px;
  border: 4px solid #aaa;
  border-radius: 4px;
  margin: 10px auto;
}
h1 {
  text-align: center;
}
hr {
  margin: 10px;
}
nav#nav {
}
div#dnav {
}
ul#unav {
  display: flex;
  justify-content: space-evenly;
}
li.lnav span {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}
li.lnav span:hover {
  background-color: #aaa;
  cursor: pointer;
}

main#main {
  margin: 20px;
}
footer#footer {
}
